<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ktwlrj.dectation.modules.mapper.ConfigMapper">
    <select id="getInformationById" resultType="com.ktwlrj.dectation.modules.service.dto.InformationDto">
        SELECT
            s.id,
            s.name,
            s.age,
            s.gender,
            s.score,
            u.email,
            u.password,
            u.createAt
        FROM
            student as s inner join
            user as u
        WHERE
            s.id = #{id}
            AND
              s.id = u.id
    </select>

    <select id="getAllInformation" resultType="com.ktwlrj.dectation.modules.service.dto.InformationDto">
        SELECT
            s.id,
            s.name,
            s.age,
            s.gender,
            s.score,
            u.email,
            u.password,
            u.createAt
        FROM
            student as s inner join
            user as u
        WHERE
            s.id = u.id
    </select>
</mapper>