<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ktwlrj.dectation.modules.mapper.DevelopMapper">

    <insert id="insertDeveloper">
        INSERT IGNORE INTO developer(id, name, age, address, salary) VALUES (#{id}, #{name}, #{age}, #{address}, #{salary})
    </insert>

    <select id="getDevelopById" resultType="com.ktwlrj.dectation.modules.entity.Developer">
        SELECT * FROM developer WHERE id = #{id}
    </select>

    <select id="getCount" resultType="BigInteger">
        SELECT count(*) FROM developer
    </select>
</mapper>